@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.HOME {
  background: #1f2937;
}

.master-grid-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .grid {
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    position: relative;

    & > .grid-item {
      width: 100%;
      height: 100%;
      border: 1px solid white;
      color: white;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(50, 16, 204, 0.403);
        pointer-events: none;
      }

      &.alfie {
        grid-column: span 3 / span 3;
      }

      &.projects {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
      }

      &.contact {
        grid-column: span 2 / span 2;
      }

      &.secret {
        grid-column: span 2 / span 2;
      }

      &.about {
        grid-column: span 4 / span 4;
      }
    }
  }
}

.TOP-COMP {
  width: 100%;
  height: 100%;
  position: relative;

  .NORMAL {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 5rem;
    }
  }
}

//Clock---------------------------------------------------------
.CLOCK {
  position: relative;
  overflow: hidden;

  .CLOCK-PROJECTS {
    position: absolute;

    img {
      object-fit: fill;
      width: 100%;
    }
  }
}

.CLOCK-CONT {
  width: 20vh;
  height: 20vh;
  padding: 0.7rem;
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  .circle-clock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    background: #480562;

    .clock-lines {
      width: 4px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: top;
      background: wheat;
      border-radius: 50%;

      &.hour-dashes {
        height: 20px;
        width: 2px;
        border-radius: 0;
      }

      &.hour-hand {
        height: 30%;
        width: 4px;
        background: red;
      }

      &.minute-hand {
        height: 46%;
        width: 4px;
        border-radius: 40%;
        background: green;
      }

      &.second-hand {
        height: 35%;
        width: 3px;
        background: rgb(43, 159, 163);
      }
    }
  }
}
//\Clock---------------------------------------------------------
//Projects---------------------------------------------------------
.PROJECTS {
  position: relative;
  overflow: hidden;

  .PROJECTS-PROJECTS {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    perspective: 800px;

    & > .grid {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      & > .grid-item {
        border: 1px solid white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.SECRET-NORMAL {
  input {
    width: 80%;
    height: 40%;
    font-size: 5rem;
  }
}

//\Projects---------------------------------------------------------
//Alfie-------------------------------------------------------------
.ALFIE {
  position: relative;
  overflow: hidden;
  perspective: 800px;
  .NORMAL {
    position: absolute;
  }
}
//\Alfie------------------------------------------------------------
//Contact---------------------------------------------------------
.CONTACT {
  position: relative;
  overflow: hidden;

  .CONTACT-PROJECTS {
    position: absolute;

    h1 {
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem;
    }
  }

  .NORMAL {
    position: absolute;
  }
}
//\Contact------------------------------------------
//Secret---------------------------------------------------
.SECRET {
  position: relative;
  overflow: hidden;
  perspective: 800px;

  .NORMAL {
    position: absolute;
  }

  .SECRET-PROJECTS {
    display: flex;

    div {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 1rem;
        width: 80%;
        height: 80%;
        font-size: 1.5rem;
      }
    }
  }
}
//\Secret--------------------------------------------------
//About----------------------------------------------------
.ABOUT {
  position: relative;
  overflow: hidden;

  .NORMAL {
    position: absolute;
  }

  .ABOUT-PROJECTS {
    h1 {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}
//\About---------------------------------------------------
